button {
  width: 140px;
  height: 30px;
  display: block;
  position: absolute;
  font-weight: bold;
}

.container {
  width: 500px;
  height: 500px;

}
table tr td {
  text-align: center;
}

body,
h1,
button {
  font-family: Arial, Helvetica, sans-serif;
}

.pink{
    background-color: #ff99a8;
}

.red{
    
    background: #ff3333;
}

.colorpink{
    color: #ff99a8;
}

.img{
  height: 300px;
  width: 300px;
}